@import 'tailwindcss';

:root {
  --primary: #242424;
  --secondary: #2e2e2e;
  --accent: #e86a64;
  --text: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --font-sans: var(--font-inter);
}

body {
  background: var(--primary);
  color: var(--text);
  font-family: var(--font-inter);
}

